<div class="container">
<nav class="navbar navbar-light row d-flex justify-content-center">
  <a class="navbar-brand col-1 font-weight-light text-white border-danger bg-danger rounded" routerLink="/">Home</a>
  <div class="dropdown m-1">
  <button class="btn  dropdown-toggle text-white "
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    About
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" routerLink="/about">Action</a>
    <a class="dropdown-item" routerLink="/about">Another action</a>
  </div>
</div>
<div class="dropdown m-1">
  <button class="btn  dropdown-toggle text-white"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Hot Tours
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" routerLink="#!">Action</a>
    <a class="dropdown-item" routerLink="#!">Another action</a>
  </div>
</div>
<div class="dropdown m-1">
  <button class="btn  dropdown-toggle text-white"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    News
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" routerLink="#!">Action</a>
    <a class="dropdown-item" routerLink="#!">Another action</a>
  </div>
</div>
<a class=" text-white m-1" routerLink="/schedule">Schedule</a>
<div class="dropdown m-1">
  <button class="btn  dropdown-toggle text-white"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Gallery
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" routerLink="#!">Action</a>
    <a class="dropdown-item" routerLink="#!">Another action</a>
  </div>
</div>
<div class="dropdown m-1">
  <button class="btn  dropdown-toggle text-white"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Pages
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" routerLink="#!">Action</a>
    <a class="dropdown-item" routerLink="#!">Another action</a>
  </div>
</div>
<a class=" text-white m-1" routerLink="/customer">Register</a>
</nav>
</div>