<div class="container-fluid">
<h2 class="font-weight-bold text-center pt-5 pb-2">Best Winter Trips</h2>
<h2 class="underline text-center font-weight-bold">____</h2>
<div class="row offset-lg-1 offset-md-1 offset-xl-1 offset-sm-0">
	<div class=" col-5 col-md-5 col-sm-11 col-xs-11 m-4 ">
  <img class="card-img" src="/assets/img/skii.jpg" alt="Card image">
  <div class="card-img-overlay">
    <button type="button" class="btn btn-danger "disabled>150$ per Person</button>
    <h3 class="card-text font-weight-bold text-white text-center pt-5 mt-5">Place,Specific</h3>
  </div>
</div>
<div class=" col-5 col-md-5 col-sm-11 col-xs-11 m-4 ">
  <img class="card-img" src="/assets/img/skii.jpg" alt="Card image">
  <div class="card-img-overlay">
    <button type="button" class="btn btn-danger "disabled>150$ per Person</button>
    <h3 class="card-text font-weight-bold text-white text-center pt-5 mt-5">Place,Specific</h3>
  </div>
</div>
<div class=" col-5 col-md-5 col-sm-11 col-xs-11 m-4 ">
  <img class="card-img" src="/assets/img/skii.jpg" alt="Card image">
  <div class="card-img-overlay">
    <button type="button" class="btn btn-danger "disabled>150$ per Person</button>
    <h3 class="card-text font-weight-bold text-white text-center pt-5 mt-5">Place,Specific</h3>

  </div>
</div>
<div class=" col-5 col-md-5 col-sm-11 col-xs-11 m-4 ">
  <img class="card-img" src="/assets/img/skii.jpg" alt="Card image">
  <div class="card-img-overlay">
    <button type="button" class="btn btn-danger "disabled>150$ per Person</button>
    <h3 class="card-text font-weight-bold text-white text-center pt-5 mt-5">Place,Specific</h3>
  </div>
</div>

</div>
</div>