<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h1 class="display-3 text-center font-weight-bolder text-white">We are your Ultimate <br> Winter experience Provider</h1>
    <p class="lead text-center font-weight-bold text-white">With Hundreds of winter holiday destinations offered, we are your <br> natural choice for planning it all out</p>
    <button type="button" class="btn btn-lg mt-4 offset-5 border-white text-white font-weight-bold" routerLink="/about">Learn More</button>
  </div>
</div>